<template>
  <div class="leaflet">
    <h2>From</h2>
    <Address v-bind="from" @search-address="fetchCoordinates(from)" @handle-edit="addressToEdit = 'from'"/>

    <h2>To</h2>
    <Address v-bind="to" @handle-edit="addressToEdit = 'to'"/>

    <AddressForm v-if="addressToEdit" v-model="objectToEdit"/>
  </div>

  <table v-if="!loading">
    <tr v-for="coordinate in coordinates" :key="coordinate.properties.id">
      <td>
        <button @click="currentCoordinate = coordinate">sélect</button>
      </td>
      <td>
        {{ coordinate.properties.label }}
      </td>
      <td>
        {{ coordinate.properties.context }}
      </td>
    </tr>
  </table>

  <div v-else>Loading...</div>
  <Map :coordinates ="coordinates" :currentCoordinate="currentCoordinate"/>
</template>

<script>
// @ is an alias to /srcf
import Address from '@/components/Address.vue'
import AddressForm from '@/components/AddressForm.vue'
import Map from '@/components/Map.vue'

export default {
  name: 'Search',
  data () {
    return {
      addressToEdit: null,
      from: {
        road: 'route d\'albi',
        zipcode: 81500,
        city: 'Lavaur',
        country: 'France',
        complement: 'test',
        state: 'tarn'
      },
      to: {
        road: 'route du sud',
        zipcode: 31000,
        city: 'Toulouse',
        complement: 'ZA du Nord',
        state: 'Haute-Garonne',
        country: null

      },
      coordinates: null,
      currentCoordinate: null,
      loading: false
    }
  },
  computed: {
    objectToEdit: {
      get () {
        console.log(this.addressToEdit)
        // this['addressName']
        return this.addressToEdit ? this[this.addressToEdit] : null
      },
      set (address) {
        // j'attribue a this.from ou this.to
        this[this.addressToEdit] = address
      }
    }
  },
  methods: {
    async fetchCoordinates (address) {
      try {
        this.loading = true
        const url = `https://api-adresse.data.gouv.fr/search/?q=${address.road}&postcode=${address.zipcode}`
        const response = await fetch(url)
        const json = await response.json()
        json.features.forEach(currentFeature => {
          currentFeature.geometry.coordinates.reverse()
        })
        this.coordinates = json.features
        console.log(this.coordinates)
      } catch (e) {
        console.log('erreur', e)
      }
      this.loading = false
    }
  },
  components: {
    Address,
    AddressForm,
    Map
  }
}
console.log(this)
</script>
