<template>
    <address class="address">
      <h2></h2>
      <p>{{ road }}</p>
      <p>{{ zipcode }}</p>
      <p>{{ city }}</p>
      <p>{{ country }}</p>
      <p>{{ complement }}</p>
      <p>{{ state }}</p>
    </address>
    <button @click="$emit('handleEdit')">Modifier</button>
    <button @click="$emit('searchAddress')">Search</button>

    <hr />
</template>

<script>
export default {
  name: 'Address',
  emits: ['handleEdit', 'searchAddress'],
  props: {
    road: {
      type: String,
      required: false,
      default: 'pas de route'
    },
    zipcode: Number,
    city: String,
    country: String,
    complement: String,
    state: String,
    addressToEdit: String

  },
  data () {
    return {

    }
  },
  methods: {

  }
}
</script>
