<template>
  <form>
    formulaire d'édition de {{ modelValue }}
    <br>
    <template
      v-for="field in fields"
      :key="field"
    >
      {{ field.label }} :
      <!-- <input
        v-model="addressInternal[field.name]"
      > -->
      <input
        :value="modelValue[field.name]"
        @input="updateA(field.name, $event.target.value)"
      >

        <!-- v-model="addressInternal[field.name]" -->
        <!-- v-bind:value="addressToEdit[field.name]" (dans l'input, on affecte la valeur correspondante) -->
        <!-- @input="update(field.name, $event.target.value)" (dans l'input)
        quand tu fais maj de input, tu appelles update, tu lui passes le champ qui est modifié et la valeur
        sans reference locale et avec la méthode emit :
        methods: {
        update (key, value) {
          this.$emit('update:addressToEdit', { ...this.value, [key]: value })
        }
      }
        -->
      <br>
    </template>
  </form>
</template>

<script>
export default {
  name: 'valueForm',
  props: {
    modelValue: {
      type: Object,
      default: () => {}
    }
  },
  emits: [],
  data () {
    return {

      fields: [{
        name: 'road',
        label: 'Road',
        title: 'Road',
        type: 'text'
      }, {
        name: 'zipcode',
        label: 'Zip Code',
        title: 'Zip Code',
        type: 'number'
      }, {
        name: 'city',
        label: 'City',
        title: 'City',
        type: 'text'
      }, {
        name: 'complement',
        label: 'Complement',
        title: 'Complement',
        type: 'text'
      }, {
        name: 'country',
        label: 'Country',
        title: 'Country',
        type: 'text'
      }, {
        name: 'state',
        label: 'State',
        title: 'State',
        type: 'text'
      }],
      methods: {
        updateA (key, value) {
          console.log(this.modelValue)
          this.$emit('update:modelValue', { ...this.modelValue, [key]: value })
          // update:addressToEdit : quand tu update tel valeur, c'est une ecriture normée
        }
      }
    }
  }
}
</script>
