<template>
  <div id="map" />
</template>

<script>
import L from 'leaflet'
import 'leaflet/dist/leaflet.css'

// bug leaflet with webpack
// cf https://github.com/Leaflet/Leaflet/issues/4968#issuecomment-319569682
import shadowUrl from 'leaflet/dist/images/marker-shadow.png'
import iconUrl from 'leaflet/dist/images/marker-icon.png'

L.Marker.prototype.options.icon = L.icon({
  iconUrl,
  shadowUrl,
  iconSize: [30, 42], // size of the icon
  iconAnchor: [15, 42], // point of the icon which will correspond to marker's location
  popupAnchor: [0, -42], // point from which the popup should open relative to the iconAnchor
  tooltipAnchor: [16, -28],
  shadowSize: [41, 41],
  shadowAnchor: [11, 41]
})

export default {
  props: {
    coordinates: {
      type: Array,
      default: () => ([])
    },
    currentCoordinate: {
      type: Object
    }
  },
  data () {
    return {
      map: null
    }
  },
  mounted () {
    this.map = L.map('map').setView([51.505, -0.09], 13)
    // creation de la map (avec un fond)
    L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(this.map)

    L.marker([51.5, -0.09]).addTo(this.map)
      .bindPopup('A pretty CSS3 popup.<br> Easily customizable.')
      .openPopup()
  },
  // permet de voir si une data est modifié en direct
  watch: {
    // quand des coordonnées arrivent, tu les affiches
    coordinates (newValue) {
      newValue.forEach(value => {
        L.marker(value.geometry.coordinates).addTo(this.map)
      })
    },
    // quand tu as une coord courante, tu centres dessus
    currentCoordinate (newValue) {
      const coord = newValue.geometry.coordinates
      this.map.panTo(coord)
    }
  }
}

</script>

<style scoped>
#map { height: 360px; }
</style>
