<template>
  <div id="nav">
    <router-link v-for="data in dataNav" :key="data.title" :to="data.path">{{data.title}} | </router-link>

  <router-view/>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  data () {
    return {
      dataNav: [
        {
          path: '/',
          title: 'Home'
        },
        {
          path: '/about',
          title: 'About'
        },
        {
          path: '/search',
          title: 'Search'
        }
      ]
    }
  }
}
</script>
<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
